[safe]
dashboard_secret = "9527HelloBabyUong-config-thought-it-was-an-issue-with-jjwt-and-baong-config-thought-it-was-an-issue-witse-64-as-my-error-being-retaddyAndYourMummyIwith-jjwt-and-base-64-as-my-error-being-returned-fore-was-speaking-of-bits-as-well"
prefix="_wujing"
super_user = "admin"
super_pass = "admin9527"
listen = "127.0.0.1:5577"
consul_addr =
fallback_addr = 127.0.0.1:3322
log_file = /tmp/kuafu.log
